doctype html
html(lang="en" ng-app="baseline")
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/c3.css')
    script(src='js/angular.min.js')
    script(src='js/d3.min.js')
    script(src='js/c3.min.js')
    script(src='js/controller.js')
  body(ng-controller="baseform")
    block content
